//Import FontAwesome

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");

//Delete format

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Import Font

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font/Poppins-Medium.ttf);
}

//Variable and mixin

$black: black;
$white: white;
$transparent: transparent;
$cadetblue: cadetblue;
$darkmagenta: darkmagenta;
$color1: lightcoral;
$color2: lightsalmon;
$color3: lightgreen;
$color4: lightpink;
$color5: lightsteelblue;
$color6: lightslategray;
$color7: lightskyblue;
$color8: lightgoldenrodyellow;

@mixin column-left {
  width: 40%;
}

@mixin column-right {
  width: 60%;
}

@mixin text_bold {
  font-family: "Poppins-SemiBold", sans-serif;
}

@mixin cover {
  background-size: cover;
}

//Define background


#content1 {
  background: no-repeat url('../img/cheveux1.jpg');
  @include cover
}

#content2 {
  background: no-repeat url('../img/cheveux2.jpg');
  @include cover
}

#content3 {
  background: no-repeat url('../img/cheveux3.jpg');
  @include cover
}

#content4 {
  background: no-repeat url('../img/cheveux4.jpg');
  @include cover
}

#content5 {
  background: no-repeat url('../img/cheveux5.jpg');
  @include cover
}

#content6 {
  background: no-repeat url('../img/cheveux6.jpg');
  @include cover
}

#content7 {
  background: no-repeat url('../img/cheveux7.jpg');
  @include cover
}

#content8 {
  background: no-repeat url('../img/cheveux8.jpg');
  @include cover

}

body {

  //General
  h1, h2 {
    font-family: "Poppins-Bold", sans-serif;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  h2 {
    color: $black;
    margin-bottom: 1em !important;
    font-size: 30px;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
  }

  //Container
  .container_page {
    height: 100vh;
    padding: 5em 0;
    color: $white;
    background-color: $white;
    @media screen and (max-width: 1560px) {
      padding-top: 10em;
      padding-bottom: 0;
      height: 222vh;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: portrait) {
      height: 190vh;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (orientation: landscape) {
      height: 250vh;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 915px) and (orientation: landscape) {
      height: 510vh;
    }
    @media only screen and (max-device-width: 540px) and (orientation: portrait) {
      height: 365vh !important;
    }
    @media screen and (max-width: 596px) {
      height: 240vh;
    }
    @media screen and (max-width: 535px) {
      height: 250vh;
    }
    @media screen and (max-width: 348px) {
      height: 290vh;
    }
    @media screen and (max-width: 300px) {
      height: 455vh !important;
    }


    .content_page {
      display: flex;
      height: 100%;
      background-color: $black;
      @media screen and (max-width: 1560px) {
        flex-direction: column-reverse;
      }
    }

    //Column Right
    .column_right {
      @include column-right;
      height: 100%;
      @media screen and (max-width: 1560px) {
        width: 100%;
      }

      &_element_text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin: auto;
        @media screen and (max-width: 1560px) {
          width: 90%;
        }

        .titre_item {
          margin-bottom: 4em;

          h1, p {
            text-align: start;
            @media screen and (max-width: 1560px) {
              text-align: center;
            }
          }

          p {
            margin-top: 1em;
            font-size: 20px;
          }
        }

        .cards {
          display: flex;
          flex-direction: row;

          p {
            &.text_bold {
              @include text_bold;
              @media screen and (max-width: 535px) {
                font-size: 13px;
              }
            }
          }

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 2em;
            margin-left: 0.5em;
            @media screen and (max-width: 535px) {
              margin-right: 0.5em;
            }
          }

          #cards_left {
            margin-right: 3em;
            width: 50%;
            @media screen and (max-width: 535px) {
              margin-right: 0.5em;
            }
          }

          #cards_right {
            width: 50%;
          }

          .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em 0.5em;
            border: 1px solid $white;
            background-color: $transparent;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            margin: 1em 0;
            cursor: pointer;
            -webkit-transition: all 0.8s ease-in;
            -moz-transition: all 0.8s ease-in;
            transition: all 0.5s ease-in;
            @media screen and (max-width: 535px) {
              height: 6em;
            }

            &.active {
              background-color: $cadetblue;
              opacity: 1;

              &.card0 {
                background-color: $color1;
              }

              &.card1 {
                background-color: $color2;
              }

              &.card2 {
                background-color: $color3;
              }

              &.card3 {
                background-color: $color4;
              }

              &.card4 {
                background-color: $color5;
              }

              &.card5 {
                background-color: $color6;
              }

              &.card6 {
                background-color: $color7;
              }

              &.card7 {
                background-color: $color8;
              }
            }
          }
        }
      }
    }


    .chattez_block{
      @media screen and (min-width: 1560px) {
       display: none;
      }
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 10vh;
      right: 15vw;
      .chattez_text{
        background-color: $white;
        border-radius: 20px;
        padding: 1em 1em;
        margin-right: 1em;
        p{
          display: flex;
          align-items: center;
          color: $black;
          font-family: "Medium", sans-serif;
          font-size: 20px;
          &:after{
            content: url("../img/main.png");
            margin-left: 1em;
          }
        }
      }
      .chattez_bulle{
        position: relative;
        background-color: $black;
        width: min-content;
        border-radius: 50%;
        display: flex;
        align-items: center;
        img{
          padding: 1em;
        }
        .nombre{
          position: absolute;
          background-color: red;
          border-radius: 50%;
          padding: 0.2em 0.5em;
          top: -10px;
          right: -10px;
        }
      }
    }

    //Column Left
    .column_left {
      @include column-left;
      padding: 0;
      height: 100%;
      overflow: inherit;
      position: relative;
      @media screen and (max-width: 1560px) {
        width: 100%;
      }


      .contentBox {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        transition: 0.5s;
        opacity: 0;

        .content_part {
          transition: 0.5s;
          opacity: 0;
          max-width: 70%;
          padding: 3em;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -5vw;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0.7);
          @media screen and (max-width: 1800px) {
            right: -2vw;
          }
          @media screen and (max-width: 1560px) {
            left: 9vw;
            top: 25vh;
            width: 40%;
            height: 40em;
          }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            top: 20vh !important;
          }
          @media only screen and (min-device-width: 320px) and (max-device-width: 916px) and (orientation: landscape) {
            top: 65vh !important;
          }
          @media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (orientation: portrait) {
            top: -13vh;
          }
          @media screen and (max-width: 950px) {
            width: 50%;
          }
          @media screen and (max-width: 745px) {
            width: 60%;
          }
          @media screen and (max-width: 620px) {
            width: 70%;
          }
          @media screen and (max-width: 535px) {
            width: 100%;
            position: absolute;
            left: 50%;
            top: -9vh;
            height: auto;
            transform: translateX(-50%);
          }
          &_text {
            h2 {
              transition: 0.5s;
              opacity: 0;
            }

            p {
              color: $black;
              font-family: "Poppins-Regular", sans-serif;
              margin-bottom: 0.5em;

              &.text_bold {
                @include text_bold;
              }
            }
          }
          .block_interesse {
            cursor: pointer;
            padding-top: 1em;

            &_text {
              font-family: "Poppins-SemiBold", sans-serif;
              text-transform: uppercase;
              font-size: 20px;
              color: $darkmagenta;
              display: flex;
              align-items: center;

              &:after {
                font-family: "Font Awesome 6 Free", serif;
                font-weight: 900;
                content: "\f054";
                background-color: $darkmagenta;
                color: $white;
                border-radius: 50%;
                font-size: 15px;
                text-align: center;
                margin-left: 1em;
                padding: 0.2em 0.3em;
              }
            }
          }
        }

      }

      //Transition
      .contentBox.active {
        opacity: 1;
        transition-delay: 0.5s;
      }

      .contentBox.active h2 {
        opacity: 1;
        transition-delay: 0.5s;
      }

      .contentBox.active .content_part {
        opacity: 1;
        transition-delay: 0.5s;
      }

    }
  }
}