@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font/Poppins-Medium.ttf);
}


$black: black;
$white: white;
$transparent: transparent;
$cadetblue: cadetblue;
$darkmagenta: darkmagenta;
$color1: lightcoral;
$color2: lightsalmon;
$color3: lightgreen;
$color4: lightpink;
$color5: lightsteelblue;
$color6: lightslategray;
$color7: lightskyblue;
$color8: lightgoldenrodyellow;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

h1, h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Poppins-Bold", sans-serif;
}

h2 {
  color: $black;
  margin-bottom: 1em !important;
}

section {
  height: 90vh;
  color: $white;
  background-color: $black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .row.reverse{
    @media screen and (max-width: 1620px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  #titre {
    padding-right: 6em;
    margin-bottom: 4em;
    @media screen and (max-width: 1620px) {
      padding-right: 0;
      text-align: center;
    }
    p {
      margin-top: 1em;
      font-size: 20px;
    }
  }

  .col-lg-7.column-right {
    padding: 0;
    margin: auto;
    max-width: 50%;
    @media screen and (max-width: 1620px) {
      max-width: none;
      width: 98%;
    }
    .text-center{
      @media screen and (max-width: 1620px) {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      font-family: "Poppins-Regular", sans-serif;
    }

    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1em 0.5em;
      border: 1px solid $white;
      background-color: $transparent;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin: 1em 0;
      cursor: pointer;
      -webkit-transition: all 0.8s ease-in;
      -moz-transition: all 0.8s ease-in;
      transition: all 0.5s ease-in;

      &.active {
        background-color: $cadetblue;
        opacity: 1;

        &.card0 {
          background-color: $color1;
        }

        &.card1 {
          background-color: $color2;
        }

        &.card2 {
          background-color: $color3;
        }

        &.card3 {
          background-color: $color4;
        }

        &.card4 {
          background-color: $color5;
        }

        &.card5 {
          background-color: $color6;
        }

        &.card6 {
          background-color: $color7;
        }

        &.card7 {
          background-color: $color8;
        }
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 2em;
        margin-left: 0.5em;
      }
    }
  }

  .column-left {
    padding: 0;
    height: 90vh;
    @media screen and (max-width: 1620px) {
      width: 100%;
    }
    .content {
      position: relative;
      width: 100%;
      overflow: inherit;

      .content-part {
        background-color: rgba(255, 255, 255, 0.7);

        p {
          color: $black;
          font-family: "Poppins-Regular", sans-serif;
          margin-bottom: 0.5em;
          &.bold {
            font-family: "Poppins-SemiBold", sans-serif !important;
          }
        }
      }

      #content1 {
        background: no-repeat url('../img/cheveux1.jpg');
        background-size: cover;
      }

      #content2 {
        background: no-repeat url('../img/cheveux2.jpg');
        background-size: cover
      }

      #content3 {
        background: no-repeat url('../img/cheveux3.jpg');
        background-size: cover
      }

      #content4 {
        background: no-repeat url('../img/cheveux4.jpg');
        background-size: cover
      }

      #content5 {
        background: no-repeat url('../img/cheveux5.jpg');
        background-size: cover
      }

      #content6 {
        background: no-repeat url('../img/cheveux6.jpg');
        background-size: cover
      }

      #content7 {
        background: no-repeat url('../img/cheveux7.jpg');
        background-size: cover
      }

      #content8 {
        background: no-repeat url('../img/cheveux8.jpg');
        background-size: cover
      }

      .contentBox {
        position: absolute;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: start;
        transition: 0.5s;
        opacity: 0;
        @media screen and (max-width: 1620px) {
         height: 90vh;
          top: 0;
          left: 0;
        }
        .interesse-center {
          display: flex !important;
          align-items: center !important;
          cursor: pointer;
          height: 2em;
        }

        p.interesse {
          font-family: "Poppins-SemiBold", sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          color: $darkmagenta;
          cursor: pointer;
          margin-top: 0.5em;
          display: flex !important;
          align-items: center !important;

          &:after {
            font-family: "Font Awesome 6 Free", serif;
            font-weight: 900;
            height: 20px;
            width: 20px;
            content: "\f054";
            background-color: $darkmagenta;
            color: $white;
            border-radius: 20px !important;
            display: inline-block;
            font-size: 15px;
            text-align: center;
            margin-left: 1em;
          }
        }

        h2 {
          transition: 0.5s;
          opacity: 0;
        }

        .content-part {
          transition: 0.5s;
          opacity: 0;
          max-width: 65%;
          padding: 3em;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -1vw;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @media screen and (max-width: 1620px) {
            top: -5vw;
            left: 10vw;
            transform: none;
            height: 70vh;
            max-width: 30%;
          }
          @media screen and (max-width: 1240px) {
            max-width: 50% !important;
          }
        }
      }

      .contentBox.active {
        opacity: 1;
        transition-delay: 0.5s;
      }

      .contentBox.active h2 {
        opacity: 1;
        transition-delay: 0.5s;
      }

      .contentBox.active .content-part {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
}
