@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../font/Poppins-Medium.ttf);
}
#content1 {
  background: no-repeat url("../img/cheveux1.jpg");
  background-size: cover;
}

#content2 {
  background: no-repeat url("../img/cheveux2.jpg");
  background-size: cover;
}

#content3 {
  background: no-repeat url("../img/cheveux3.jpg");
  background-size: cover;
}

#content4 {
  background: no-repeat url("../img/cheveux4.jpg");
  background-size: cover;
}

#content5 {
  background: no-repeat url("../img/cheveux5.jpg");
  background-size: cover;
}

#content6 {
  background: no-repeat url("../img/cheveux6.jpg");
  background-size: cover;
}

#content7 {
  background: no-repeat url("../img/cheveux7.jpg");
  background-size: cover;
}

#content8 {
  background: no-repeat url("../img/cheveux8.jpg");
  background-size: cover;
}

body h1, body h2 {
  font-family: "Poppins-Bold", sans-serif;
}
body h1 {
  text-transform: uppercase;
  font-size: 40px;
}
body h2 {
  color: black;
  margin-bottom: 1em !important;
  font-size: 30px;
}
body p {
  margin: 0;
  font-size: 16px;
  font-family: "Poppins-Regular", sans-serif;
}
body .container_page {
  height: 100vh;
  padding: 5em 0;
  color: white;
  background-color: white;
}
@media screen and (max-width: 1300px) {
  body .container_page {
    padding-bottom: 0;
    height: 200vh;
  }
}
body .container_page .content_page {
  display: flex;
  height: 100%;
  background-color: black;
}
@media screen and (max-width: 1300px) {
  body .container_page .content_page {
    flex-direction: column-reverse;
  }
}
body .container_page .column_right {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  body .container_page .column_right {
    width: 100%;
  }
}
body .container_page .column_right_element_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  body .container_page .column_right_element_text {
    width: 95%;
  }
}
body .container_page .column_right_element_text .titre_item {
  margin-bottom: 4em;
}
body .container_page .column_right_element_text .titre_item h1, body .container_page .column_right_element_text .titre_item p {
  text-align: start;
}
@media screen and (max-width: 1300px) {
  body .container_page .column_right_element_text .titre_item h1, body .container_page .column_right_element_text .titre_item p {
    text-align: center;
  }
}
body .container_page .column_right_element_text .titre_item p {
  margin-top: 1em;
  font-size: 20px;
}
body .container_page .column_right_element_text .cards {
  display: flex;
  flex-direction: row;
}
body .container_page .column_right_element_text .cards p.text_bold {
  font-family: "Poppins-SemiBold", sans-serif;
}
body .container_page .column_right_element_text .cards img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 2em;
  margin-left: 0.5em;
}
body .container_page .column_right_element_text .cards #cards_left {
  margin-right: 3em;
  width: 50%;
}
body .container_page .column_right_element_text .cards #cards_right {
  width: 50%;
}
body .container_page .column_right_element_text .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0.5em;
  border: 1px solid white;
  background-color: transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 1em 0;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  transition: all 0.5s ease-in;
}
body .container_page .column_right_element_text .cards .card.active {
  background-color: cadetblue;
  opacity: 1;
}
body .container_page .column_right_element_text .cards .card.active.card0 {
  background-color: lightcoral;
}
body .container_page .column_right_element_text .cards .card.active.card1 {
  background-color: lightsalmon;
}
body .container_page .column_right_element_text .cards .card.active.card2 {
  background-color: lightgreen;
}
body .container_page .column_right_element_text .cards .card.active.card3 {
  background-color: lightpink;
}
body .container_page .column_right_element_text .cards .card.active.card4 {
  background-color: lightsteelblue;
}
body .container_page .column_right_element_text .cards .card.active.card5 {
  background-color: lightslategray;
}
body .container_page .column_right_element_text .cards .card.active.card6 {
  background-color: lightskyblue;
}
body .container_page .column_right_element_text .cards .card.active.card7 {
  background-color: lightgoldenrodyellow;
}
body .container_page .column_left {
  width: 40%;
  padding: 0;
  height: 100%;
  overflow: inherit;
  position: relative;
}
@media screen and (max-width: 1300px) {
  body .container_page .column_left {
    width: 100%;
  }
}
body .container_page .column_left .contentBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: 0.5s;
  opacity: 0;
}
body .container_page .column_left .contentBox .content_part {
  transition: 0.5s;
  opacity: 0;
  max-width: 70%;
  padding: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5vw;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 1800px) {
  body .container_page .column_left .contentBox .content_part {
    max-width: 95%;
    right: -2vw;
  }
}
body .container_page .column_left .contentBox .content_part_text h2 {
  transition: 0.5s;
  opacity: 0;
}
body .container_page .column_left .contentBox .content_part_text p {
  color: black;
  font-family: "Poppins-Regular", sans-serif;
  margin-bottom: 0.5em;
}
body .container_page .column_left .contentBox .content_part_text p.text_bold {
  font-family: "Poppins-SemiBold", sans-serif;
}
body .container_page .column_left .contentBox .content_part .block_interesse {
  cursor: pointer;
  padding-top: 1em;
}
body .container_page .column_left .contentBox .content_part .block_interesse_text {
  font-family: "Poppins-SemiBold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: darkmagenta;
  display: flex;
  align-items: center;
}
body .container_page .column_left .contentBox .content_part .block_interesse_text:after {
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  content: "\f054";
  background-color: darkmagenta;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  margin-left: 1em;
  padding: 0.2em 0.3em;
}
body .container_page .column_left .contentBox.active {
  opacity: 1;
  transition-delay: 0.5s;
}
body .container_page .column_left .contentBox.active h2 {
  opacity: 1;
  transition-delay: 0.5s;
}
body .container_page .column_left .contentBox.active .content_part {
  opacity: 1;
  transition-delay: 0.5s;
}

/*# sourceMappingURL=main.css.map */
