//Import FontAwesome

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css");

//Delete format

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Import Font

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font/Poppins-Medium.ttf);
}

//Variable and mixin

$black: black;
$white: white;
$transparent: transparent;
$cadetblue: cadetblue;
$darkmagenta: darkmagenta;
$color1: lightcoral;
$color2: lightsalmon;
$color3: lightgreen;
$color4: lightpink;
$color5: lightsteelblue;
$color6: lightslategray;
$color7: lightskyblue;
$color8: lightgoldenrodyellow;

@mixin column-left {
  width: 35%;
}

@mixin column-right {
  width: 65%;
}

@mixin text_bold {
  font-family: "Poppins-SemiBold", sans-serif;
}

//Define background

#content1 {
  background: no-repeat url('../img/cheveux1.jpg');
  background-size: cover;
}

#content2 {
  background: no-repeat url('../img/cheveux2.jpg');
  background-size: cover
}

#content3 {
  background: no-repeat url('../img/cheveux3.jpg');
  background-size: cover
}

#content4 {
  background: no-repeat url('../img/cheveux4.jpg');
  background-size: cover
}

#content5 {
  background: no-repeat url('../img/cheveux5.jpg');
  background-size: cover
}

#content6 {
  background: no-repeat url('../img/cheveux6.jpg');
  background-size: cover
}

#content7 {
  background: no-repeat url('../img/cheveux7.jpg');
  background-size: cover
}

#content8 {
  background: no-repeat url('../img/cheveux8.jpg');
  background-size: cover
}

body {

  //General
  h1, h2 {
    font-family: "Poppins-Bold", sans-serif;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  h2 {
    color: $black;
    margin-bottom: 1em !important;
    font-size: 30px;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-family: "Poppins-Regular", sans-serif;
  }

  //Container
  .container_page {
    height: 100vh;
    padding: 5em 0;
    color: $white;
    background-color: $white;

    .content_page {
      display: flex;
      height: 100%;
      background-color: $black;
    }

    //Column Right
    .column_right {
      @include column-right;
      height: 100%;

      &_element_text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin: auto;

        .titre_item {
          margin-bottom: 4em;

          h1, p {
            text-align: start;
          }

          p {
            margin-top: 1em;
            font-size: 20px;
          }
        }

        .cards {
          display: flex;
          flex-direction: row;

          p {
            &.text_bold {
              @include text_bold;
            }
          }

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 2em;
            margin-left: 0.5em;
          }

          #cards_left {
            margin-right: 3em;
            width: 50%;
          }

          #cards_right {
            width: 50%;
          }

          .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5em 0.5em;
            border: 1px solid $white;
            background-color: $transparent;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            margin: 1em 0;
            cursor: pointer;
            -webkit-transition: all 0.8s ease-in;
            -moz-transition: all 0.8s ease-in;
            transition: all 0.5s ease-in;

            &.active {
              background-color: $cadetblue;
              opacity: 1;

              &.card0 {
                background-color: $color1;
              }

              &.card1 {
                background-color: $color2;
              }

              &.card2 {
                background-color: $color3;
              }

              &.card3 {
                background-color: $color4;
              }

              &.card4 {
                background-color: $color5;
              }

              &.card5 {
                background-color: $color6;
              }

              &.card6 {
                background-color: $color7;
              }

              &.card7 {
                background-color: $color8;
              }
            }
          }
        }
      }
    }

    //Column Left
    .column_left {
      @include column-left;
      padding: 0;
      height: 100%;
      overflow: inherit;
      position: relative;

        .contentBox {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: start;
          transition: 0.5s;
          opacity: 0;

          .content_part {
            transition: 0.5s;
            opacity: 0;
            max-width: 70%;
            padding: 3em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -5vw;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.7);

            &_text {
              h2 {
                transition: 0.5s;
                opacity: 0;
              }

              p {
                color: $black;
                font-family: "Poppins-Regular", sans-serif;
                margin-bottom: 0.5em;

                &.text_bold {
                  @include text_bold;
                }
              }
            }

            .block_interesse {
              cursor: pointer;
              padding-top: 1em;

              &_text {
                font-family: "Poppins-SemiBold", sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                color: $darkmagenta;
                display: flex;
                align-items: center;

                &:after {
                  font-family: "Font Awesome 6 Free", serif;
                  font-weight: 900;
                  content: "\f054";
                  background-color: $darkmagenta;
                  color: $white;
                  border-radius: 50%;
                  font-size: 15px;
                  text-align: center;
                  margin-left: 1em;
                  padding: 0.2em 0.3em;
                }
              }
            }
          }

        }

        //Transition
        .contentBox.active {
          opacity: 1;
          transition-delay: 0.5s;
        }

        .contentBox.active h2 {
          opacity: 1;
          transition-delay: 0.5s;
        }

        .contentBox.active .content_part {
          opacity: 1;
          transition-delay: 0.5s;
        }

    }
  }
}